<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wang.imallen.blog.servicemanagerlib">

    <application>
        <service
            android:name="org.qiyi.video.svg.dispatcher.RemoteGuardService"
            android:enabled="true"
            android:exported="true"
            android:process=":guard">
            <intent-filter>
                <action android:name="wang.imallen.blog.guard" />
            </intent-filter>
        </service>

        <service
            android:name="org.qiyi.video.svg.dispatcher.DispatcherService"
            android:enabled="true"
            android:exported="true"/>

        <service
            android:name="org.qiyi.video.svg.stub.CommuStubService$CommuStubService0"
            android:enabled="true"
            android:exported="true"
            android:process=":apple">
            <intent-filter>
                <action android:name="qiyi.apple.process.stub" />
            </intent-filter>
        </service>

        <service
            android:name="org.qiyi.video.svg.stub.CommuStubService$CommuStubService1"
            android:enabled="true"
            android:exported="true"
            android:process=":webview">
        </service>

        <service
            android:name="org.qiyi.video.svg.stub.CommuStubService$CommuStubService2"
            android:enabled="true"
            android:exported="true"
            android:process=":pushservice"/>

        <service
            android:name="org.qiyi.video.svg.stub.CommuStubService$CommuStubService3"
            android:enabled="true"
            android:exported="true"
            android:process=":bdservice_v1"/>

        <service
            android:name="org.qiyi.video.svg.stub.CommuStubService$CommuStubService4"
            android:enabled="true"
            android:exported="true"
            android:process=":silk"/>

        <service
            android:name="org.qiyi.video.svg.stub.CommuStubService$CommuStubService5"
            android:enabled="true"
            android:exported="true"
            android:process=":plugin1"/>

        <service
            android:name="org.qiyi.video.svg.stub.CommuStubService$CommuStubService6"
            android:enabled="true"
            android:exported="true"
            android:process=":plugin2"/>
        <service
            android:name="org.qiyi.video.svg.stub.CommuStubService$CommuStubService7"
            android:enabled="true"
            android:exported="true"
            android:process=":downloader"/>


    </application>

</manifest>