<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wang.imallen.blog.servicemanager">

    <application
        android:name=".CustomApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".annotation.local.RegLocalServiceByAnnoActivity" />
        <activity android:name=".annotation.local.UseLocalServiceByAnnoActivity" />
        <activity android:name=".annotation.remote.RegRemoteServiceByAnnoActivity" />
        <activity
            android:name=".annotation.remote.UseRemoteServiceByAnnoActivity"
            android:process=":tea" />
        <activity
            android:name=".test.TestActivity1"
            android:process=":test1" />
        <activity
            android:name=".test.TestActivity1$TestActivity2"
            android:process=":test2" />
        <activity
            android:name=".test.TestActivity1$TestActivity3"
            android:process=":test3" />
        <activity
            android:name=".test.TestActivity1$TestActivity4"
            android:process=":test4" />
        <activity
            android:name=".test.TestActivity1$TestActivity5"
            android:process="com.android.test5" />
        <activity
            android:name=".test.TestActivity1$TestActivity6"
            android:process="com.android.test6" />
        <activity android:name=".lifecycle.LifecycleTestActivity" />
        <activity android:name=".lifecycle.frag.SupportFragActivity" />
        <activity android:name=".lifecycle.frag.FragActivity" />
        <activity android:name=".lifecycle.ViewTestActivity"></activity>
    </application>

</manifest>