<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wang.imallen.blog.applemodule">

    <application>
        <activity
            android:name=".remote.RemoteServiceDemo"
            android:process=":apple" />
        <activity
            android:name=".local.LocalServiceDemo"
            android:process=":apple" />
        <activity
            android:name=".remote.BananaActivity"
            android:process=":banana" />
        <activity
            android:name=".event.EventActivity"
            android:process=":apple" />
        <activity android:name="debug.DebugMainActivity"></activity>
    </application>

</manifest>