<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wang.imallen.blog.servicemanagerlib">

    <application>
        <service
            android:name="org.qiyi.video.svg.dispatcher.RemoteGuardService"
            android:enabled="true"
            android:exported="true"
            android:process=":guard">
            <intent-filter>
                <action android:name="wang.imallen.blog.guard" />
            </intent-filter>
        </service>

        <!--service
            android:name="org.qiyi.video.svg.dispatcher.DispatcherService"
            android:enabled="true"
            android:exported="false"
            android:process=":downloader"
            /-->

        <!--provider
            android:authorities="org.qiyi.video.svg.dispatcher"
            android:exported="false"
            android:name="org.qiyi.video.svg.dispatcher.DispatcherProvider"
            android:process=":downloader"
            /-->


    </application>

</manifest>